<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" (click)="toggleNavbar()">
    <i class="fa fa-glass" (click)="toggleNavbar()"></i> Menelaos
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse ml-auto" [class.collapse]="navbarCollapsed">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="register" routerLinkActive="active" (click)="toggleNavbar()">Register</a>
      <a class="nav-item nav-link" routerLink="login" routerLinkActive="active" (click)="toggleNavbar()">Login</a>
      <a class="nav-item nav-link" routerLink="about" routerLinkActive="active" (click)="toggleNavbar()">About</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="https://github.com/mkowalc7/menelaos" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
